<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Все записи</title>
    <style>
        .nails {
            display: flex;
            margin-bottom: 10px;
        }

        .nails-date {
            margin-left:20px;
        }

        .nails-time {
            margin-left:20px;
        }
    </style>
</head>
<body>
    <h1>Все записи:</h1>
    <div>
        <% if (user.isAdmin){
            let i = 0;
            for(let nail of nails) { %>
            <%
            const day = nail.date.substring(0,2)
            const month = nail.date.substring(3,5)
            const year = nail.date.substring(6)

            const hour = nail.time.substring(0,2)
            const minutes = nail.time.substring(3,5)

            const d1 = new Date(Number(year), Number(month) - 1, Number(day), Number(hour), Number(minutes));
            const now = new Date();
            if(now < d1){%>
                <div class="nails">
                    <div class="nails-name">
                        <%= nail.name %>
                    </div>
                    <div class="nails-date">
                        <%= nail.date %>
                    </div>
                    <div class="nails-time">
                        <%= nail.time %>
                    </div>
                    <form class="delete-btn" action="/delete" method="POST">
                        <input type="hidden" name="index" value=<%= i %>>
                        <button type="submit">Удалить</button>
                    </form>
                </div>
            <%}
        i++; } 
    }else{ %>
        <% let i = 0; %>
        <% for(let nail of nails) { %>
            <% if(nail.name === user.username) { 
                const day = nail.date.substring(0,2);
                const month = nail.date.substring(3,5);
                const year = nail.date.substring(6);
    
                const hour = nail.time.substring(0,2);
                const minutes = nail.time.substring(3,5);
    
                const d1 = new Date(Number(year), Number(month) - 1, Number(day), Number(hour), Number(minutes));
                const now = new Date();
                if(now < d1) { %>
                    <div class="nails">
                        <div class="nails-name">
                            <%= nail.name %>
                        </div>
                        <div class="nails-date">
                            <%= nail.date %>
                        </div>
                        <div class="nails-time">
                            <%= nail.time %>
                        </div>
                        <form class="delete-btn" action="/delete" method="POST">
                            <input type="hidden" name="index" value="<%= i %>">
                            <button type="submit">Удалить</button>
                        </form>
                    </div>
                <% } %>
            <% } %>
        <% i++; } %>
    <% } %>  
    </div>
    <form action= '/' method="get">
        <input type = 'submit' name='back' value = 'Назад'>
    </form>
</body>
</html>